* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
                url("../images/background.jpg") no-repeat;
                background-blend-mode: multiply;
                background-size: cover;
                /* background-attachment: fixed; */
                height: 100vh;
}
h1 {
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.forecastContainer {
    text-align: center;
}
#inputField {
    display: block;
    margin: 0 auto;
}
.getWeatherBtn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
footer {
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.603);
}


/* MEDIA QUERIES */
@media (max-width:400px) {
    footer p {
        font-size: 0.75rem;
    }
}